/* General Styles */

@media screen and (max-width: 1199.99px) {
    /* Hide the other device form */
    .DESKTOP {
        display: none;
        visibility: hidden;
        background-color: hsl(0, 100%, 67%);
    }
}

@media screen and (min-width: 1200px) {
    /* Hide the other device form */
    .MOBILE {
        display: none;
        visibility: hidden;
        background-color: hsl(0, 100%, 67%);
    }
}

body {
    background-color: hsl(0, 0%, 86%);
    color: hsl(0, 0%, 8%);
    font-family: 'Poppins', sans-serif;
    width: 100vw !important;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: clip !important; /* Removes the annoying horizontal scroll */
    background-color: hsl(0, 0%, 86%); /* Off-White */
}

form {
    background-color: hsl(0, 0%, 100%); /* White */
}

label {
    color: hsl(0, 1%, 44%); /* Smokey Grey */
    letter-spacing: .5px;
}

/* Phones, Portrait Mode */

@media screen
    and (min-width: 300px)
    and (orientation: portrait), (orientation: landscape) {
    
    main {
        height: 100vh;
        margin: 0;
        padding: 5%;
        background-color: hsl(0, 0%, 94%);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: left;
        align-self: center;
        background-color: hsl(0, 0%, 100%);
        width: 90vw !important;
        height: max-content;
        padding: 5%;
        border-radius: 5% 5% 20% 5%;
    }

    .form-content {
        align-self: center;
        align-items: self-end;
        width: 30% !important;
    }

    input {
        width: inherit;
    }

    label {
        font-size: 2.5vw;
        letter-spacing: 2.5px;
    }

    .result {
        width: 100%;
        margin: 5% 17.5%;
        letter-spacing: 1px;
        font-size: 10.5vw;
        font-style: italic;
        font-weight: 700;
    }

    .result span {
        color: hsl(259, 100%, 65%);
    }
}

/* Phones, Landscape Mode; Tablets */

@media screen and (min-width: 768px) and (max-width: 1000px) and (orientation: portrait), (orientation: landscape) {

    body {
        background-color: yellow;
    }

}

/* Laptops; other big screens */

@media screen and (min-width: 1200px) and (orientation: landscape) {

    body {
        background-color: blue;
    }
}